<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/administration-vector-icon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets\images\Logo1.png" alt="OOF Logo" width="30">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
        
                </li>
        
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
        
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-stars"></i>
                        <span class="text">category</span> </a>
                </li>
        
                <li class="menu-item active ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
        
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">coupons </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
        
                <br>
        </nav>
    </aside>
    <main class="main-wrap">

        <header class="main-header navbar">
            <div class="col-search">
                 
            </div>
            <div class="col-nav">

                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/User-logo.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= AllOrders.orderID %>
            </p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>
                            <%= AllOrders.orderDate.toDateString() %>
                        </b>
                    </span> <br>
                    <small class="text-muted">Order ID: <%= AllOrders.orderID %></small>
                </div>
        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
        <select id="statusDropdown" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
            <option value="pending" <%=AllOrders.status==='pending' ? 'selected' : '' %>>Pending</option>
            <option value="completed" <%=AllOrders.status==='completed' ? 'selected' : '' %>>Completed</option>
            <option value="cancelled" <%=AllOrders.status==='cancelled' ? 'selected' : '' %>>Cancelled</option>
            <option value="delivered" <%=AllOrders.status==='delivered' ? 'selected' : '' %>>Delivered</option>
           
        </select>
            <button class="btn btn-primary" onclick="updateStatus()">Save</button>
        </div>

            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
           
                <div class="row mb-50 mt-20 order-info-wrap">
                    <!-- Customer Information -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= AllOrders.user.name %> <br>
                                        <%= AllOrders.user.email %> <br>
                                            <%= AllOrders.user.phone %>
                                </p>
                                
                            </div>
                        </article>
                    </div> <!-- col// -->

                    <!-- Order Information -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Status: <%= AllOrders.status %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->

                    <!-- Deliver to Information -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <%= AllOrders.address.city %> <br>
                                        <%= AllOrders.address.street %>, <%= AllOrders.address.state %> <br>
                                                <%= AllOrders.address.PIN %>
                                </p>
                               
                            </div>
                        </article>
                    </div>
                </div> <!-- row // -->

                <!-- Order Products Information -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%">Size</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% AllOrders.products.forEach(product=> { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        
                                                    </div>
                                                    <div class="info">
                                                    <%= product.product.pname %>

                                                    </div>
                                                </a>
                                            </td>
                                            <td> Rs<%= product.product.price.toFixed(2) %>
                                            </td>
                                            <td>
                                                <%= product.quantity %>
                                            </td>
                                            <td>
                                                <%= product.size %>
                                            </td>
                                            <td class="text-end"> Rs<%= ( product.product.price.toFixed(2) * product.quantity).toFixed(2) %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                </div>
               
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->

<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©,
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/admin-assets/js/vendors/select2.min.js"></script>
<script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="/admin-assets/js/main.js" type="text/javascript"></script>

<script>
    async function updateStatus() {
        const orderId = "<%= AllOrders._id%>";
        const selectedStatus = document.getElementById("statusDropdown").value;

        
        const allowedStatusValues = ["pending", "completed", "cancelled", "delivered"];
        if (!allowedStatusValues.includes(selectedStatus)) {
            console.error("Invalid status selected");
            return;
        }

        try {
            const response = await fetch(`/admin/orders/details/update-status?orderId=${orderId}&status=${selectedStatus}`, {
                method: 'PATCH',
            });

            if (response.ok) {
               
                console.log("Status updated successfully");
                location.reload()
            } else {
                
                console.error("Failed to update status");
            }
        } catch (error) {
            console.error("Error:", error.message);
        }
    }
</script>



</body>
</html>