<!DOCTYPE html>
<html lang="en">


<!-- molla/category-fullwidth.html  22 Nov 2019 10:03:02 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Offside Outfits</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/User-icon.svg">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        .form-check {
            display: inline-block;
            margin-right: 10px;
        }

        .form-check-input {
            display: none;
        }

        .form-check-label {
            display: inline-block;
            padding: 8px 16px;
            background-color: white;
            color: black;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s, border-color 0.3s;
            /* Add border-color transition */
            border: 1px solid #c96;
            /* Default border color */
        }

        .form-check-input:checked+.form-check-label {
            background-color: #c96;
            border-color: #c96;
            /* Set border color to #c96 when checked */
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-middle">
                <div class="header-top">
                    <div class="container-fluid">
                        <div class="header-left m-4">

                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>
                                        <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li style="display: none;"><a href="#signin-modal" data-toggle="modal"><i
                                                    class="icon-user"></i>Login</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container-fluid -->
                </div><!-- End .header-top -->

                <div class="header-middle ">
                    <div class="container-fluid">
                        <div class="header-left">


                            <a href="/home" class="logo">
                                <img src="assets/images/Logo1.png" alt="Molla Logo" width="50" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container ">
                                        <a href="/home" class="">Home</a>
                                    </li>
                                    <li>
                                        <a href="/products" class=" ">Shop</a>

                                    </li>
                                    <li>
                                        <a href="" class="">Product</a>
                                    </li>
                                    <li>
                                        <a href="#" class="">Pages</a>
                                    </li>
                                    <li>
                                        <a href="" class="">Blog</a>
                                    </li>
                                    <li>
                                        <a href="" class="">Elements</a>


                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>

                            </div><!-- End .header-search -->

                            <a href="/wishlist" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                            </a>

                            <div class=" cart-dropdown">
                                <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>

                            <div class=" cart-dropdown">
                                <a href="/profile" class="dropdown-toggle" role="button" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">
                                    <i class="icon-user"></i>

                                </a>
                            </div>

                        </div><!-- End .header-right -->
                    </div><!-- End .container-fluid -->
                </div><!-- End .header-middle -->
            </div>
        </header><!-- End .header -->



        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">

<div class="checkout-discount">
    <form id="couponForm" action="#">
        <div class="row">
            <div class="col-md-12 mb-3">
                <input type="text" class="form-control" required id="checkout-discount-input"
                    placeholder="Have a coupon? Click here to enter your code">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-primary-2 btn-block" id="applyCouponButton">APPLY</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-block" id="removeCouponButton"
                    onclick="removeCoupon()">Remove Coupon</button>
            </div>
        </div>
    </form>
</div>






                        <form id="orderForm"     method="post">
                            <div class="row">
                                <input type="text" name="userID" value="<%= currentUser._id %>" hidden>
                        
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Address Details</h2>
                        
                            <% if (userAddresses.length> 0) { %>
                              
                                <div class="row">
                                    <% userAddresses.forEach((userAddress, index)=> { %>
                                        <% userAddress.address.forEach((address, addressIndex)=> { %>
                                            <div class="col-lg-6 mb-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= address.AddName %>
                                                        </h5>
                                                        <p class="card-text"><strong>House:</strong>
                                                            <%= address.House %>
                                                        </p>
                                                        <p class="card-text"><strong>Street:</strong>
                                                            <%= address.street %>
                                                        </p>
                                                        <p class="card-text"><strong>City:</strong>
                                                            <%= address.city %>
                                                        </p>
                                                        <p class="card-text"><strong>State:</strong>
                                                            <%= address.state %>
                                                        </p>
                                                        <p class="card-text"><strong>PIN:</strong>
                                                            <%= address.PIN %>
                                                        </p>
                        
                                                        <div class="form-check m-3">
                                                            <input class="form-check-input" type="radio" name="address"
                                                                id="<%= `address${index}-${addressIndex}` %>" value="<%= address._id %>"
                                                                required>
                                                            <label class="form-check-label" for="<%= `address${index}-${addressIndex}` %>">
                                                                Select
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <% }); %>
                                </div>
                                <% } else { %>
                                    <!-- Display a button to add an address if there are no addresses -->
                                    <div class="text-center m-5">
                                        <p>You have no saved addresses. Please add an address to place orders.</p>
                                        <a href="/profile?selected=Address" class="btn btn-primary m-4">Add Address</a>
                                    </div>
                                    <% } %>
                        </div>


                        
                             
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3>
                        
                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% cartItems.forEach(cartItem=> { %>
                                                    <% cartItem.cartProducts.forEach(product=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= product.productDetail.pname %>
                                                            </td>
                                                            <td>
                                                                <%= product.quantity %>
                                                            </td>
                                                            <td>Rs:<%= product.quantity * product.productDetail.priceAfterDiscount.toFixed(2) %>-/
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                            <% }); %>
                                            </tbody>
                                        </table>
                                        
                                        <div class="mt-2" id="couponDetailsSection" style="display: none;">
                                            <p id="couponCodePlaceholder">Coupon Code: </p>
                                            <p id="discountValuePlaceholder">Discount Value: </p>
                                        </div>
                        
                                    <p class="mt-1" style="font-weight: 600;">Total Amount To be paid: <span id="totalAmount"><%=totalAmount.toFixed(2)%></span></p>

                                        
                        
                                        <div class="accordion-summary" id="accordion-payment">
                                          
                                        </div>
                                        <div class="accordion-summary" id="accordion-payment">
                                        
                                        
                                            
                                        
                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <input class="collapsed mb-1" type="radio" name="PaymentType" value="COD" checked data-toggle="collapse"
                                                            href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                        Cash on delivery
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Cash on delivery (COD) is a type of transaction where a customer pays for a product upon delivery.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                            
                                            <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <input class="collapsed" type="radio" value="RazorPay" name="PaymentType" data-toggle="collapse"
                                                            href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                        RazorPay <small class="float-right paypal-link"></small>
                                                    </h2>
                                                </div>
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        All payment modes including credit card, debit card, netbanking, UPI and popular wallets including JioMoney,
                                                        Mobikwik,
                                                        Airtel Money, ...
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <input class="collapsed mb-1" type="radio" name="PaymentType" value="Wallet"  data-toggle="collapse"
                                                            href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                        Pay using Wallet
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        <% if (wallet) { %>
                                                            Your Wallet Balance: <span class="wallet-balance" style="color: blue; text-decoration: underline;">
                                                                <%= wallet.money.toFixed(2) %>/-Rs
                                                            </span>
                                                            <% } else { %>
                                                                Your Wallet Balance: <span class="wallet-balance" style="color: red;">
                                                                    Wallet not found
                                                                </span>
                                                                <% } %>
                                                    </div>
                                                </div>

                                            </div>

                                           
                                        </div><!-- End .accordion -->
                        
                                        <button type="button" id="placeOrderBtn" class="btn btn-outline-primary-2 btn-order btn-block">
                                            Place Order
                                        </button>
                                    </div><!-- End .summary -->
                                </aside>
                            </div><!-- End .row -->
                        </form>


                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main>

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                            <img src="assets/images/LogoFooter.png" class="footer-logo" alt="Footer Logo" width="280" height="25">
                                <p></p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright.</p>
                     <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  
"error":"Insufficient stock for product Argentina Home 2005-06 Retro Jersey size M"



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
<script>
    document.getElementById('removeCouponButton').style.display = 'none'; 
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const placeOrderBtn = document.getElementById('placeOrderBtn');

        placeOrderBtn.addEventListener('click', function (event) {
            event.preventDefault();

            const orderForm = document.getElementById('orderForm');
            const userID = orderForm.querySelector('input[name="userID"]').value;
            const selectedAddress = orderForm.querySelector('input[name="address"]:checked').value;
            const paymentType = orderForm.querySelector('input[name="PaymentType"]:checked').value;

            fetch('/payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userID,
                    selectedAddress,
                    paymentType,
                }),
            })
                .then(response => response.json())
                .then(res => {
                    console.log("Server Response:", res);

                    if (res.success) {
                        var options = {
                            "key": res.key_id,
                            "amount": res.amount,
                            "currency": "INR",
                            "name": res.name,
                            "description": res.msg,
                            "image": "https://dummyimage.com/600x400/000/fff",
                            "order_id": res.order_id,
                            "handler": function (response) {
                                window.location.href = "/place-order";
                            },
                            "prefill": {
                                "contact": res.contact,
                                "name": res.name,
                                "email": res.email
                            },
                            "notes": {
                                "description": res.description
                            },
                            "theme": {
                                "color": "#2300a3"
                            }
                        };

                        var razorpayObject = new Razorpay(options);

                         razorpayObject.open();

                        razorpayObject.on('payment.failed', function (response) {
                              razorpayObject.close();
                        Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Payment Failed',
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 4000,
                                timerProgressBar: true,
                               
                            });


                              window.location.href = "/pending-order";
                           
                        });

                       
                    } else {
                        if (res.redirectURL) {
                            window.location.href = res.redirectURL;
                        } else if (res.message) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: res.message,
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Insufficient stock',
                            });
                            console.error(res);
                        }
                    }
                })
                .catch(error => {
                    console.error('Error during order logging:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Insufficient stock',
                    });
                });
        });
    });
</script>




<script>
    function applyCoupon() {
        document.getElementById('couponForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            const couponCode = document.getElementById('checkout-discount-input').value;
            const userID = "<%= currentUser._id %>";
            try {
                const response = await fetch('/applyCoupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ couponCode, userID, initialTotalAmount: totalAmount })
                });

                if (response.ok) {
                    const data = await response.json();
                    document.getElementById('totalAmount').innerText = data.newTotalAmount.toFixed(2);
                    if (data.couponApplied) {
                        const couponCodePlaceholder = document.getElementById('couponCodePlaceholder');
                        const discountValuePlaceholder = document.getElementById('discountValuePlaceholder');
                        couponCodePlaceholder.textContent = 'Coupon Code: ' + data.couponApplied.code;
                        if (data.couponApplied.discountType === 'percentage') {
                            discountValuePlaceholder.textContent = 'Discount Percent: ' + data.couponApplied.discountValue + '%';
                        } else if (data.couponApplied.discountType === 'fixed') {
                            discountValuePlaceholder.textContent = 'Discount Value: Rs ' + data.couponApplied.discountValue;
                        }
                        document.getElementById('couponDetailsSection').style.display = 'block';
                        document.getElementById('applyCouponButton').style.display = 'none';
                        document.getElementById('removeCouponButton').style.display = 'block';
                    } else if (data.error === "Coupon Already Used") {
                        console.error('Coupon Already Used');
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Coupon already used.',
                        });
                    } else {
                        console.error('Failed to apply coupon: No coupon data received');
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to apply coupon. Please try again.',
                        });
                    }
                } else if (response.status === 400 && response.headers.get('Content-Type').includes('application/json')) {
                    const data = await response.json();
                    if (data.error === "Coupon Already Used") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Coupon already used.',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to apply coupon. Please try again.',
                        });
                    }
                } else {
                    console.error('Failed to apply coupon');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to apply coupon. Please try again.',
                    });
                }
            } catch (error) {
                console.error('Error applying coupon:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An unexpected error occurred. Please try again.',
                });
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        applyCoupon();
    });

    function removeCoupon() {
        location.reload();
    }
</script>









    
</body>




</html>