<!DOCTYPE html>
<html lang="en">


<!-- molla/product-fullwidth.html  22 Nov 2019 10:03:37 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Offside Outfits</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/User-icon.svg">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/notyf@3.0.2/dist/notyf.min.css">

    <!-- Main CSS File -->

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="path/to/select2.min.css">


</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container-fluid">
                    <div class="header-left m-4">
                        
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li style="display: none;"><a href="#signin-modal" data-toggle="modal"><i
                                                class="icon-user"></i>Login</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-top -->

           

            <div class="header-middle ">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/home" class="logo">
                            <img src="assets/images/Logo1.png" alt="Logo" width="50" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/home" class="">Home</a>

                                
                                </li>
                                <li>
                                    <a href="/products" class="">Shop</a>

                                
                                </li>
                                <li>
                                    <a href="/products" class="">Product</a>

                                   
                                </li>
                                <li>
                                    <a href="#" class="">Pages</a>

                                 </li>
                                        <li>
                                            <a href="contact.html" class="">Contact</a>

                                            
                                        </li>
                                        
                                    
                                </li>
                                <li>
                                    <a href="blog.html" class="">Blog</a>

                                   
                                </li>
                                <li>
                                    <a href="elements-list.html" class="">Elements</a>

                                   
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                <div class="header-right">
                
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                
                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                    </a>
                
                <div class="cart-dropdown position-relative">
                    <a href="/cart" class="dropdown-toggle" role="button" style="position: relative; display: inline-block;">
                        <i class="icon-shopping-cart">
                            <span id="cart-count" class="badge badge-danger"
                                style="position: absolute; top: 0; right: 0; font-size: 10px; padding: 2px 5px;"></span>
                        </i>
                    </a>
                </div>
                    <div class=" cart-dropdown">
                        <a href="/profile" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static">
                            <i class="icon-user"></i>
                
                        </a>
                    </div>
                
                </div><!-- End .header-right -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <br>
        </nav><!-- End .pager-nav -->

        <main class="main">
            <div class="page-content">
                <div class="product-details-top">
                    
                    <div class="bg-light pb-1 mb-1">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container d-flex align-items-center">
                               
        
                            </div><!-- End .container -->
                        </nav><!-- End .breadcrumb-nav -->
                        <div class="container">
                            <div class="product-gallery-carousel owl-carousel owl-full owl-nav-dark">

                                <figure class="product-gallery-image">
                                    <img src="/productAssets/<%= product.images[0] %>" data-zoom-image="" alt="product image" class="img-thumbnail"
                                        data-toggle="modal" data-target="#imageModal" onclick="showModal('/productAssets/<%= product.images[0] %>')">
                                </figure><!-- End .product-gallery-image -->
        
                                <figure class="product-gallery-image">
                                    <img src="/productAssets/<%= product.images[1] %>" data-zoom-image="" alt="product image" class="img-thumbnail"
                                        data-toggle="modal" data-target="#imageModal" onclick="showModal('/productAssets/<%= product.images[1] %>')">
                                </figure><!-- End .product-gallery-image -->
        
                            <figure class="product-gallery-image">
                                <img src="/productAssets/<%= product.images[2] %>" data-zoom-image="" alt="product image" class="img-thumbnail"
                                    data-toggle="modal" data-target="#imageModal" onclick="showModal('/productAssets/<%= product.images[2] %>')">
                            </figure><!-- End .product-gallery-image -->
        
                            <figure class="product-gallery-image">
                                <img src="/productAssets/<%= product.images[3] %>" data-zoom-image="" alt="product image" class="img-thumbnail"
                                    data-toggle="modal" data-target="#imageModal" onclick="showModal('/productAssets/<%= product.images[3] %>')">
                            </figure><!-- End .product-gallery-image -->
<script>
    function showModal(imageSrc) {
        var modalImage = document.getElementById('modalImage');
        modalImage.src = imageSrc;

        $('#imageModal').modal('show');
    }
</script>
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .container -->
                        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img id="modalImage" class="img-fluid" alt="Modal Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .bg-light pb-5 -->
        
                    <div class="product-details product-details-centered product-details-separator">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="product-title"><%=product.pname%></h1><!-- End .product-title -->
        
                                    
        
                                    <div class="product-price">
                                    <% if (product.priceAfterDiscount !==product.price) { %>
                                        <del>Rs:<%= product.price %></del>
                                        <pre>  </pre> Rs:<%= product.priceAfterDiscount.toFixed(2) %>
                                            <% } else { %>
                                                Rs:<%= product.price %>
                                                    <% } %>
                                    </div>
        
                                    <div class="product-content">
                                        <p><%=product.description%></p>
                                    </div>
                        <div class="details-filter-row details-row-size mb-md-1">
                            <label>Size:</label>
                            <% if (product.sizes && product.sizes.length> 0) { %>
                            <select id="sizeDropdown" class="form-select"
                                style="width: 70px; padding: 8px; border-radius: 5px; border-color: #ced4da; background-color: #fff;">
                                <% product.sizes.forEach(size=> { %>
                                    <% if (size.quantity> 0) { %>
                                        <option value="<%= size.size %>">
                                            <%= size.size %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= size.size %>" disabled>
                                                <%= size.size %> (Out of Stock)
                                            </option>
                                            <% } %>
                                                <% }); %>
                            </select>
                                <% } else { %>
                                    <p class="out-of-stock-message">Product is out of stock</p>
                                    <% } %>
                        </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="product-details-action">
                                        <div class="details-action-col">
                                        </div>

                                        <div class="details-action-col">
                                            <div class="product-details-quantity">
                                                
                                            </div> 
                                    <a href="#" class="btn-product btn-cart"" onclick="addToCart('<%= product._id %>')">
                                        <span>Add to Cart</span>
                                    </a>
                                       
                                        </div>
        
                                    <div class="details-action-wrapper">
                                        <a href="#" class="btn-product btn-wishlist" title="Wishlist" onclick="addToWishlist('<%= product._id %>')">
                                            <span>Add to Wishlist</span>
                                        </a>
                                    </div>

                                    </div>
        
                                    <div class="product-details-footer details-footer-col">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"><%=product.category.cName%></a>
                                        </div>
                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                    class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .product-details -->
                </div><!-- End .product-details-top -->
        
              
        
               
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="widget widget-about">
                                <img src="assets/images/LogoFooter.png" class="footer-logo" alt="Footer Logo" width="280">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
                                    porttitor, facilisis luctus, metus. </p>

                                
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-4 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                   
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-6 col-lg-2">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Newsletter</h4><!-- End .widget-title -->

                                <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>

                                <form action="#">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Enter your Email Address"
                                            aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- .End .input-group -->
                                </form>
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-2 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container-fluid">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Socials</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
   

  
 

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.elevateZoom.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <script src="path/to/select2.min.js"></script>

   
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.0.2"></script>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>



    


<script>
    async function addToCart(productId) {
        const userId = '<%=currentUser._id %>';
        const size = document.getElementById('sizeDropdown').value; 

        const data = {
            productId: productId,
            userId: userId,
            size: size, 
        };

        try {
            const response = await fetch('/add-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                const result = await response.json();

                if (result.alreadyExists) {
                    Swal.fire({
                        icon: 'info',
                        title: 'Already Exists',
                        text: 'This product is already in your cart.',
                    });
                } else {
                   
                    const cartCountElement = document.getElementById('cart-count');
                    if (cartCountElement) {
                        cartCountElement.textContent = result.cartCount;
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Added to Cart',
                        text: 'Product added to your cart successfully!',
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
            } else {
                console.error('Failed to add product to cart');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>



    <script>
        function getElementValue(id) {
            const element = document.getElementById(id);
            return element ? element.value : null;
        }

        function updateCartCount(count) {
            const cartCountElement = document.getElementById('cart-count');
            if (cartCountElement) {
                cartCountElement.textContent = count;
            }
        }

    </script>


<script>
    function addToWishlist(productId) {
        fetch('/addToWishlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId }),
        })
            .then(response => response.json())
            .then(data => {
                const notyf = new Notyf();

                if (data.success) {
                    console.log('Product added to wishlist:', data.wishlist);
                    new Noty({
                        type: 'success',
                        text: 'Product added to Wishlist',
                        timeout: 2000,
                        layout: 'topRight',
                    }).show();
                } else {
                    if (data.error === "Product already in wishlist") {
                        console.log('Product already in wishlist:', data.error);
                        new Noty({
                            type: 'warning',
                            text: 'Product already in Wishlist',
                            timeout: 2000,
                            layout: 'topRight',
                        }).show();
                    } else {
                        console.error('Error adding product to wishlist:', data.error);
                    }
                }
            })
            .catch(error => {
                console.error('Error adding product to wishlist:', error);
            });
    }
</script>


</body>




</html>