<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Offside Outfits</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/User-icon.svg">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-middle">
                <div class="header-top">
                    <div class="container-fluid">
                        <div class="header-left m-4">

                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>
                                        <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li style="display: none;"><a href="#signin-modal" data-toggle="modal"><i
                                                    class="icon-user"></i>Login</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container-fluid -->
                </div><!-- End .header-top -->

                <div class="header-middle ">
                    <div class="container-fluid">
                        <div class="header-left">


                            <a href="/home" class="logo">
                                <img src="assets/images/Logo1.png" alt="Molla Logo" width="50" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container ">
                                        <a href="/home" class="">Home</a>
                                    </li>
                                    <li class="">
                                        <a href="" class=" ">Shop</a>


                                    </li>
                                    <li>
                                        <a href="" class="">Product</a>
                                    </li>
                                    <li>
                                        <a href="#" class="">Pages</a>
                                    </li>
                                    <li>
                                        <a href="" class="">Blog</a>
                                    </li>
                                    <li>
                                        <a href="" class="">Elements</a>


                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->

                            <a href="" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                            </a>

                            <div class="cart-dropdown position-relative">
                                <a href="/cart" class="dropdown-toggle" role="button"
                                    style="position: relative; display: inline-block;">
                                    <i class="icon-shopping-cart">
                                        <span hidden class="badge badge-danger"
                                            style="position: absolute; top: 0; right: 0; font-size: 10px; padding: 2px 5px;">Cart
                                            count</span>
                                    </i>
                                </a>
                            </div>



                            <div class=" cart-dropdown">
                                <a href="/profile" class="dropdown-toggle" role="button" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">
                                    <i class="icon-user"> </i>

                                </a>
                            </div>

                        </div><!-- End .header-right -->
                    </div><!-- End .container-fluid -->
                </div><!-- End .header-middle -->
            </div>
        </header><!-- End .header -->



        <!-- order-details.ejs -->
        
    <!-- order-details.ejs -->
    
<main class="main">
    <div class="container">
        <h1 class="title mb-3 mt-1" style="text-decoration: underline;font-size: xx-large;">Order Details</h1>
        <h10 class=" mb-3" style="font-size: small;"> <b>Order Id:</b><%=orderDetails._id%></h10>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Order Placed Date: <%= orderDetails.orderDate.toLocaleDateString() %>
                </h4>
                <h4 class="card-title">Status:
                    <span class="badge badge-pill badge-warning">
                        <%= orderDetails.status %>
                    </span>
                </h4>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Shipping Address</h4>
                <div class="mb-3 mt-1">
                    <strong>
                        <%= orderDetails.address.AddName %>
                    </strong><br>
                    <%= orderDetails.address.House %>, <%= orderDetails.address.street %><br>
                            <%= orderDetails.address.city %>, <%= orderDetails.address.state %>
                                    <%= orderDetails.address.PIN %>
                </div>
            </div>
        </div>

        <h4 class="card-title">Ordered Products</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="font-weight-bold">Product Name</th>
                                <th scope="col" class="font-weight-bold">Quantity</th>
                                <th scope="col" class="font-weight-bold">Price per Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orderDetails.products.forEach(productInfo=> { %>
                                <tr>
                                    <td>
                                        <%= productInfo.product.pname %>
                                    </td>
                                    <td>
                                        <%= productInfo.quantity %>
                                    </td>
                                    <td>Rs <%= productInfo.price %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Amount</h4>
                <p class="card-text" style="font-weight: 600;text-decoration: underline;">
                    Rs: <%= totalAmount %>/-
                </p>
            </div>
            <% if (orderDetails.status==='pending' ) { %>
                <div class="text-right">
                    <a href="/cancel-order?orderID=<%= orderDetails._id %>" class="btn btn-danger"
                        style="border-radius: 10px;">Cancel Order</a>
                </div>
                <% } else if (orderDetails.status==='delivered' ) { %>
                    <div class="text-right">
                        <a href="/return-order?orderID=<%= orderDetails._id %>" class="btn btn-primary"
                            style="border-radius: 10px;">Return Order</a>
                    </div>
                    <% } %>
        </div>

        <!-- Back button -->
        <a href="/profile?selected=orders" class="btn btn-secondary m-5">Back</a>
    </div><!-- End .container -->
</main>








        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="widget widget-about">
                                <img src="assets/images/LogoFooter.png" class="footer-logo" alt="Footer Logo" width="280"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
                                    porttitor, facilisis luctus, metus. </p>
        
                                <div class="widget-about-info">
                                    <div class="row">
        
        
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-4 -->
        
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->
        
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->
        
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->
        
                        <div class="col-sm-6 col-lg-2">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Newsletter</h4><!-- End .widget-title -->
        
                                <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>
        
                                <form action="#">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Enter your Email Address"
                                            aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- .End .input-group -->
                                </form>
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-2 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-middle -->
        
            <div class="footer-bottom">
                <div class="container-fluid">
                    <p class="footer-copyright">Copyright.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->
        
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Socials</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wNumb.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/nouislider.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        
        
      <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wNumb.js"></script>
<script src="assets/js/bootstrap-input-spinner.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>

    function setDefaultType(addressId) {
        fetch(`/set-default-address/${addressId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                Swal.fire({
                    icon: "success",
                    title: "Success!",
                    text: "Address type set to default.",
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>




</body>




</html>
        
        
        </body>
        
        
        
        
        </html>